<nav class="navbar navbar-default" role="navigation" ng-controller="topBarModalCtrl" id="footer">
    <div class="container">

        <ul class="nav navbar-nav navbar-left col-md-12" style="margin-top:10px">

            <li><a href="#"><span style="font-size: large"> Get the latest deals & more </span>
                <span>&nbsp;<input type="text" placeholder="Enter your email ...." style="width: 250px"> </span></a></li>
            <li><a href="#" ng-click=""><button class="btn btn-primary">Sign Up</button></a></li>
            <!--<li><button ng-click="jqTest()">Test</button></li>-->
        </ul>

    </div>

    <div class="container bottom-navbar-content">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Follow us</h5>
                        <hr>
                        <a href="http://www.facebook.com"><img src="images/facebook.png"></a>
                        <a href="http://www.twitter.com"><img src="images/twitter.png"></a>
                        <a href="http://www.googleplus.com"><img src="images/googleplus.png"></a>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Orders & Returns</h5>
                        <hr>
                        <div><a href="#">Order Status</a></div>
                        <div><a href="#">Shpping & Delivery</a></div>
                        <div><a href="#">Return & Exchange policy</a></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <h5>About us</h5>
                        <hr>
                        <div><a href="#">Company Info</a></div>
                        <div><a href="#">Contact us</a></div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>

